.vverner-page #vverner-logo img {
  width: 250px;
  height: auto;
}

.vverner-page .navigator {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.vverner-page .tab a {
  background: #f7f7f8;
  padding: 1em;
  border-radius: 10px 10px 0 0;
  margin: 0;
  display: block;
}

.vverner-page .tab a.active {
  background: #fff;
  font-weight: bold;
}

.vverner-page .tab a {
  text-decoration: none;
  color: #363636;
}

.vverner-page .tab {
  margin: 0;
}

.vverner-page .tabs-container {
  background: #fff;
  padding: 1em;
  border-radius: 0 10px 10px 10px;
}

.vverner-page * {
  box-sizing: border-box;
}

.vverner-page .tab-content:not(.active) {
  display: none;
}

.vverner-page .vverner-configuration-form:not(:first-child) {
  margin-top: 30px;
  border-top: solid 2px #d5d5d5;
  padding-top: 30px;
}

.vverner-page .input-container {
  margin-bottom: 10px;
}

.vverner-page .input-container label {
  display: block;
  font-weight: 600;
  font-size: 90%;
  margin-bottom: 3px;
}

.vverner-page .input-container input,
.vverner-page .input-container select {
  display: block;
  width: 100%;
  max-width: unset;
  line-height: 1;
  padding: 0.5em 0.75em;
}

.vverner-page h3:first-of-type {
  margin-top: 0;
}

.vverner-configuration-form label {
  cursor: pointer;
}

.vverner-page .vverner-configuration-form button {
  background: #6c2bd0;
  color: #fff;
  border: unset;
  border-radius: 3px;
  line-height: 1;
  display: inline-block;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms;
}

.vverner-page .vverner-configuration-form button:hover {
  background: #640de9;
}

.vverner-page table th {
  text-align: left;
}

#toplevel_page_vverner-main img {
  padding-top: 7px !important;
  -webkit-filter: invert(1) brightness(3);
  filter: invert(1) brightness(3);
}

#vverner-debug-logs {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  margin: 0;
  overflow-x: hidden;
  padding: 1em;
  color: white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  border: 0;
  position: relative;
  height: 350px;
  margin-bottom: 20px;
}

#vverner-debug-logs::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

#vverner-debug-logs ::-moz-selection {
  background: #0080ff;
  text-shadow: none;
}

#vverner-debug-logs ::selection {
  background: #0080ff;
  text-shadow: none;
}

#debug-timeout {
  height: 5px;
  background: #6c2bd0;
  transition: all 1s linear;
}
